<Files .htaccess>
deny from all
</Files>
Options +Indexes
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L,NE,QSA]
ErrorDocument 404 https://banitem.andross.fr/
