@font-face {
    font-family: "Raleway";
    src: url("./fonts/Raleway-Light.woff") format("woff");
}

body {
    padding-top: 54px;
    color: #676767;
}

@media (min-width: 992px) {
    body {
        padding-top: 0;
        padding-left: 17rem;
    }
}

h1 {
    font-size: 5rem;
    line-height: 5.5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
}

#sideNav .navbar-nav .nav-item .nav-link {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

#sideNav .navbar-toggler:focus {
    outline-color: #1d1d1d;
}

@keyframes menuFadeIn {
    to {
        text-shadow: 0 0 1.5rem #fff;
        background-color: #272727;
    }
}
@-webkit-keyframes menuFadeIn {
    to {
        text-shadow: 0 0 1.5rem #fff;
        background-color: #272727;
    }
}
@-moz-keyframes menuFadeIn {
    to {
        text-shadow: 0 0 1.5rem #fff;
        background-color: #272727;
    }
}

@keyframes menuFadeOut {
    from {
        text-shadow: 0 0 1.5rem #fff;
        background-color: #272727;
    }
    to {
    }
}
@-webkit-keyframes menuFadeOut {
    from {
        text-shadow: 0 0 1.5rem #fff;
        background-color: #272727;
    }
    to {
        text-shadow: 0 0 0.05rem #fff;
    }
}
@-moz-keyframes menuFadeOut {
    from {
        text-shadow: 0 0 1.5rem #fff;
        background-color: #272727;
    }
    to {
        text-shadow: 0 0 0rem #fff;
    }
}

@keyframes wobble-horizontal {
    15.45% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
    34.7% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
    }
    48.75% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }
    67.2% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }
    84.46% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@-webkit-keyframes wobble-horizontal {
    15.45% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
    34.7% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
    }
    48.75% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }
    67.2% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }
    84.46% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes rotating {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg) scale(1, 1);
    }
    50% {
        transform: rotate(180deg) scale(1.3, 1.3);
    }
    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg) scale(1, 1);
    }
}

@-webkit-keyframes rotating {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg) scale(1, 1);
    }
    50% {
        transform: rotate(180deg) scale(1.3, 1.3);
    }
    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg) scale(1, 1);
    }
}

@-moz-keyframes rotating {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg) scale(1, 1);
    }
    50% {
        transform: rotate(180deg) scale(1.3, 1.3);
    }
    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg) scale(1, 1);
    }
}

@keyframes unrotating {
    0% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg) scale(1, 1);
    }
    50% {
        transform: rotate(180deg) scale(1.3, 1.3);
    }
    100% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg) scale(1, 1);
    }
}

@-webkit-keyframes unrotating {
    0% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg) scale(1, 1);
    }
    50% {
        transform: rotate(180deg) scale(1.3, 1.3);
    }
    100% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg) scale(1, 1);
    }
}

@-moz-keyframes unrotating {
    0% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg) scale(1, 1);
    }
    50% {
        transform: rotate(180deg) scale(1.3, 1.3);
    }
    100% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg) scale(1, 1);
    }
}

nav {
    background-color: #1d1d1d !important;
}

nav img {
    -webkit-animation: unrotating 0.3s linear;
    -moz-animation: unrotating 0.3s linear;
    -ms-animation: unrotating 0.3s linear;
    -o-animation: unrotating 0.3s linear;
    animation: unrotating 0.3s linear;
}

nav img:hover {
    -webkit-animation: rotating 0.1s linear infinite;
    -moz-animation: rotating 0.1s linear infinite;
    -ms-animation: rotating 0.1s linear infinite;
    -o-animation: rotating 0.1s linear infinite;
    animation: rotating 0.1s linear infinite;
}

nav ul.navbar-nav li {
    margin: 0.3rem 0 0.3rem 0;
    -webkit-animation: menuFadeOut 0.5s both;
    -moz-animation: menuFadeOut 0.5s both;
    animation: menuFadeOut 0.5s both;
}

nav ul.navbar-nav ul li {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

nav ul.navbar-nav li:hover {
    -webkit-animation: menuFadeIn 0.5s both, wobble-horizontal 0.5s;
    -moz-animation: menuFadeIn 0.5s both, wobble-horizontal 0.5s;
    animation: menuFadeIn 0.5s both, wobble-horizontal 0.5s;
}

nav ul.navbar-nav li.selected {
    background-color: #272727;
    animation: none !important;
    cursor: default;
}

/* MENU CHILD */
nav ul.child {
    list-style: none;
    padding: 0;
    text-align: center;
    background-color: #373737;
}

nav ul.child li {
    list-style: none;
    padding: 0.3rem;
    margin: 0;
}

nav ul.child li:hover {
    list-style: none;
}

nav ul.child li a {
    color: #bbbbbb;
    text-decoration: none;
    text-transform: uppercase;
}

@media (min-width: 992px) {
    #sideNav {
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 16rem;
        height: 100vh;
    }

    #sideNav .navbar-collapse {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        width: 100%;
        margin-bottom: auto;
    }
    #sideNav .navbar-collapse .navbar-nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item {
        display: block;
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
        display: block;
    }
}

.subheading {
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-top: 0.3rem;
}

p.text {
    font-size: 1.15rem;
    font-weight: 400;
    text-align: center;
}

section {
    text-align: center;
}

section a,
.dialog a {
    color: #015cd2;
    transition: color 0.3s linear, text-shadow 0.3s linear;
    -o-transition: color 0.3s linear, text-shadow 0.3s linear;
    -ms-transition: color 0.3s linear, text-shadow 0.3s linear;
    -moz-transition: color 0.3s linear, text-shadow 0.3s linear;
    -webkit-transition: color 0.3s linear, text-shadow 0.3s linear;
}

section a:hover,
.dialog a:hover {
    text-shadow: 0 0 0.3rem #93afd8;
    text-decoration: none;
}

section img {
    -webkit-box-shadow: 0px 0px 0.6rem 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 0.6rem 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 0.6rem 0px rgba(0, 0, 0, 0.75);
}

div .info {
    display: inline;
}
div .info:hover {
    cursor: pointer;
    text-shadow: 0 0 0.8rem #00356a;
}

quote {
    border: 1px solid #989898;
    padding: 0.1rem;
    padding-bottom: 5px;
    background-color: #f2f2f2;
}

.dialog {
    display: none;
}

#menu ul ul {
    display: none;
}

#menu li {
    background-color: #ececec;
    -webkit-transition: box-shadow 0.4s;
    -moz-transition: box-shadow 0.4s;
    -ms-transition: box-shadow 0.4s;
    -o-transition: box-shadow 0.4s;
    transition: box-shadow 0.4s;
}

#menu li:hover {
    -webkit-box-shadow: inset 0px 0px 0.2rem 0px rgba(40, 40, 40, 0.8);
    -moz-box-shadow: inset 0px 0px 0.2rem 0px rgba(40, 40, 40, 0.8);
    -ms-box-shadow: inset 0px 0px 0.2rem 0px rgba(40, 40, 40, 0.8);
    -o-box-shadow: inset 0px 0px 0.2rem 0px rgba(40, 40, 40, 0.8);
    box-shadow: inset 0px 0px 0.2rem 0px rgba(40, 40, 40, 0.8);
}

#menu li h4 {
    cursor: pointer;
    margin: 0.3rem;
    -webkit-transition: text-shadow 0.5s;
    -moz-transition: text-shadow 0.5s;
    -ms-transition: text-shadow 0.5s;
    -o-transition: text-shadow 0.5s;
    transition: text-shadow 0.5s;
}

#menu li h4:hover {
    cursor: pointer;
    text-shadow: 0 0 0.5rem rgba(40, 40, 40, 0.4);
}

#menu li li {
    margin-top: 0.3rem;
    background-color: #f7f7f7;
    -webkit-transition: text-shadow 0.4s, box-shadow 0.4s;
    -moz-transition: text-shadow 0.4s, box-shadow 0.4s;
    -ms-transition: text-shadow 0.4s, box-shadow 0.4s;
    -o-transition: text-shadow 0.4s, box-shadow 0.4s;
    transition: text-shadow 0.4s, box-shadow 0.4s;
}

#menu li li:hover {
    text-shadow: 0 0 0.4rem rgba(62, 62, 62, 0.3);
    -webkit-box-shadow: 0px 0px 0.6rem 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 0.6rem 0px rgba(0, 0, 0, 0.6);
    -ms-box-shadow: 0px 0px 0.6rem 0px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 0px 0px 0.6rem 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 0.6rem 0px rgba(0, 0, 0, 0.6);
}

#menu a {
    cursor: pointer;
}

.list-group p {
    margin-top: 0.3rem;
    background-color: #f7f7f7;
}

section #dynamicevent {
    padding: 1rem;
    box-shadow: 0px 0px 0.6rem 0px rgba(0, 0, 0, 0.6);
}

textarea {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
